<!DOCTYPE html>
<html>
	<% include _templates/page/head.ejs %>
  <body>
		<% include _templates/page/header.ejs %>
		<% include _templates/page/hero.ejs %>
  	<div class="container">
			<section id="content" class="row-fluid">
			  <div id="main" class="span8">
					<% include _templates/articles/speakerslist.ejs %>
					<% include _templates/articles/whoarewe.ejs %>
					<% include _templates/articles/getbusy.ejs %>
					<% include _templates/articles/whoshouldcome.ejs %>
			  </div><!-- main -->

			  <aside class="span4">
					<% include _templates/asides/nextmeeting.ejs %>
					<% include _templates/asides/mailinglist.ejs %>
					<% include _templates/asides/parking.ejs %>
			  </aside><!-- asides -->
			</section><!-- content -->
  	</div><!-- container -->
			<% include _templates/page/footer.ejs %>
			<% include _templates/page/jsdefaults.ejs %>
			<% include _templates/page/gacode.ejs %>
  </body>
</html>