<article class="getbusy">
  <h2>Get Busy!</h2>
  <p>If you want to keep up with what's going on with the group, <a href="http://www.meetup.com/TechDeLand/">join our meetup group</a>, If you're in FaceBook, you can also <a href="https://www.facebook.com/MainStreetDeLand">join our FaceBook group</a>.</p>
</article>
