<article id="whoarewe">
  <h1>Who are we?</h1>
  <p><a href="http://www.meetup.com/Tech-Deland-bringing-together-people-technology/"><img style="float: right; width: 200px;" src="images/logos/meetup_logo.png" alt="Meetup Logo"></a>Tech Deland is a group of technology enthusiasts in the Downtown Deland area meeting the fourth Thursday of each month to encourage a better understanding of technology. We do this by sharing what we know about technology with others.</p>
  <p>If you're ready to join and want to find out more information about our next meetup, then, check out our <a href="http://www.meetup.com/Tech-Deland-bringing-together-people-technology/events/120042712/">meetup group</a>.</p>
  <p>The group encourages learning in all types of technology including Photography, Graphic Design, Web Design, Web Development and more. We dream of Downtown Deland one day becoming a place that's well known for a thriving tech scene.</p>
</article>