<article class="whoshouldcome">
<h2>Who should come?</h2>
  <ul>
    <li>Anybody interested in technology and the creative industry</li>
    <li>Programmers, Designers, Photographers, Artists, Marketers, Entrepreneurs</li>
    <li>If you're interested in meeting and making a connection with others in the local tech industry.</li>
    <li>If you have something to teach or learn from others related to technology.</li>
  </ul>
</article>
