<article class="mailinglist">
  <h2>Join our mailing list</h2>
  <p>Get notifications of our meetings and events. Sign up to our Mailing list. And don't worry, signing up for this list will also notify you about the <a href="http://barcampdeland.org">BarCamp Deland</a> annual event.</p>

  <!-- Begin MailChimp Signup Form -->
  <link href="http://cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
  <div id="mc_embed_signup">
  <form action="http://barcampdeland.us5.list-manage2.com/subscribe/post?u=8a6e060c4c49d4fa2a3a904c3&amp;id=1703239c8f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
  </form>
  </div>
  <!--End mc_embed_signup-->
</article>