<article class="parking">
  <h2>Parking</h2>
  <p>Parking is available in many places throughout the Downtown Deland area. Click on the button for a map.</p>
  <a class="btn btn-warning" data-toggle="modal" href="#parking" id="parkingbtn" >Parking</a>

  <div class="modal hide fade" id="parking">
    <div class="modal-body">
      <p><img src="/images/misc/parking-downtowndeland.png" /></p>
    </div>
  </div>
</article>