<article class="sponsors" ng-app="rotator">
  <h2>Sponsors</h2>
  <p>We receive some awesome support from these great sponsors.</p>
  <section ng-controller="rotatorController" class="rotatorcontainer">
    <div ng-switch on="pic" ng-animate=" 'animate' " class="rotator">
      <div class="item" ng-switch-when="0"><a href="http://www.delandabbey.com/" target="_blank"><img src="images/sponsors/sponsor_abbey.png" alt="Sponsor Logo--Abbey"></a></div>
      <div class="item" ng-switch-when="5"><a href="http://mainstreetdeland.org/" target="_blank"><img src="images/sponsors/sponsor_mainstreetdelandassociation.png" alt="Sponsor Logo--Mainstreet Deland Association"></a></div>
    </div>
  </section>
</article>
<script>
var app = angular.module('rotator', []);
var imgArray = document.querySelectorAll('.rotatorcontainer .item');
app.controller('rotatorController', ['$scope', '$timeout', function($scope, $timeout) {
  $scope.pic = 0;
  var slideImage = function() {
    var loop = $timeout(function changePic() {
        if($scope.pic < imgArray.length){
          $scope.pic++;
        } else {
          $scope.pic = 0;
        }
        loop = $timeout(changePic, 5000);
    },5000);
  }();
}])

</script>
